.nav-btn{
    padding:10px 32px;
    border: 1px solid transparent;
    border-radius: 6px;
    color: $light-color;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: $medium-size;
    line-height: 21px;
    background-color: $light-green;
    cursor: pointer;
    transition: all ease .3s;

}
.nav-btn:hover{
    background-color: $btn-hover;
    transition: all ease .3s;
}


// hero btn styles

.hero-left-btn{
    border: 2px solid $light-green;
    border-radius: 50%;
    padding: 20px 36px;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}


