.hero-back::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/header-right-img.png'); 
    background-size: 700px;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1; 
}

.hero-container{
    display: flex;
    // align-items: center;
    margin-top: 70px;
}

.hero-left-h1{
    font-family: 'Nunito', sans-serif;
    width: 617px;
    font-size: 72px;
    font-weight: 700;
    margin-top: 110px;
    margin-right: 30px;
}

.black-1, .black-2{
    color: $dark-green;
}

.green-1{
    color: $light-green;
}

.hero-right-img{
    width: 570px;
    // height: 675px;
    size: 100px;
}
