.hero-back::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/header-right-img.png'); 
    background-size: 700px;
    background-position: right top;
    background-repeat: no-repeat;
    z-index: -1; 
}

.hero-container{
    display: flex;
    margin-top: 70px;
}

.hero-left-h1{
    font-family: 'Nunito', sans-serif;
    width: 617px;
    font-size: 72px;
    font-weight: 700;
    margin-top: 110px;
    margin-right: 30px;
}

.black-1, .black-2{
    color: $dark-green;
}

.green-1{
    color: $light-green;
}

.hero-right-img{
    width: 570px;
    // height: 675px;
    size: 100px;
}

.hero-left-p{
    font-family: 'Noto Sans', sans-serif;
    width: 534px;
    font-weight: 500;
    font-size: $medium-2-size;
    line-height: 32px;
    color: $gray;
    margin-bottom: 41px;
}


.hero-left-btn-p{
    margin-right: 10px;
    cursor: pointer;
}


.hero-strelka-2{
    width: 106px;
    height: 80px;
  
}
