.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    margin-right: 10px;
    font-family: 'Noto Sans', sans-serif;
    color: $dark-blue;
}
.logo-text{
    font-family: 'Noto Sans', sans-serif;
    color: $dark-green;
    font-weight: 700;
    font-size: $large-2-size;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 56px;
}

.nav-link{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: $medium-size;
    line-height: 21px;
    color: $dark-blue;
}

