$small-size: 12px;
$medium-size:16px;
$medium-2-size:18px;
$large-size:24px;
$large-2-size:32px;

$dark-color:#000000;
$light-color:#fff;
$dark-blue:#1D3B53;
$dark-green:#374A3D;
$light-green:#0CA941;
$btn-hover:#22df61;
$gray:#707070;



$py: 10px;
$px: 20px;
