.wapg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 89px;
}

.wapg-left-img{
    width: 638px;
    height: 527px;
}


.wapg-right{
    width: 458px;

}

.wapg-right-h2{
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    font-size: $large-2-size;
    line-height: 44px;
    width: 353px;
    color: $dark-green;
    margin-bottom: 31px;
}

.wapg-right-p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: $medium-size;
    line-height: 32px;
    color: $dark-green;
    width: 458px;
}