.we-give{
    height: 234px;
    // color: $light-color;
    margin-bottom: 142px;  
    display: flex; 
    border: 1px solid transparent;
    border-radius: 30px; 

    







    -webkit-box-shadow: 1px 14px 29px 15px rgba(12, 169, 65, 0.2);
    -moz-box-shadow: 1px 14px 29px 15px rgba(12, 169, 65, 0.2);
    box-shadow: 1px 14px 29px 15px rgba(12, 169, 65, 0.2);
}


.we-give-left{
    position: relative;
    margin-top: 49px;
    margin-left: 151px;
    margin-right: 85px;
}

.we-give-h2{
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: $large-2-size;
    line-height: 40px;
    width: 290px;
    color: $dark-green;
    margin-bottom: 14px;



}

.we-give-p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: $medium-size;
    line-height: 26px;
    color: $dark-green;
    width: 310px;
   

}

.we-give-left-img{
    width: 289px;
    height: 350px;
    position: absolute;
    margin-top: -80px;
    margin-left: -130px;
}


// right

.we-give-right{
    position: relative;
    margin-top: 75px;
}

.we-give-right-list{
    display: flex;
    
}

.we-give-right-item{
    margin-right: 70px;



    h2{
        font-family: 'Noto Sans', sans-serif;
        color: $light-green;
        font-size: $pro-large-size;
        font-weight: 800;
        margin-bottom: 9px;
        

        background-image: url(/images/aylanacha.png);
        background-repeat: no-repeat;
        background-size: 90px;
        
        

    }

    p{
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        font-size: $medium-size;
        line-height: 26px;
        color: $dark-green;
        width: 161px;

    }
}



